.box{
 /* border: 2px red solid;   */
 height: 350px;
 width: 70%;
 margin: auto;
 
 
}

.box2{
    /* border: 2px red solid;   */
    width: 70%;

    margin: auto;
    display: flex;
    margin-top: -100px;
    
   }


.box h3{
 color: grey;
 text-align: center;
 margin-top: 10+    0px;
}

.box h1{
 text-align: center;
}


.h1{
    font-weight: 200;
    margin-left: 8px;
    margin-top: -40px;
    font-family: inherit;
}

.h5{
    font-weight: 200;
    margin-left: 35px;
    margin-top: -40px;
    font-family: inherit;
    text-align: center;
}

.icon{
    margin-left: 40px;
    margin-top: -20px;
    font-size: 400px;
}

.Cl{
    font-weight: 200;
    margin-left: 27px;
    margin-top: -50px;
    font-family: inherit;
}

.Ww{
     font-weight: 200;
     margin-left: 22px;
     margin-top: -40px;
     font-family: inherit;
}


.Pr{ 
   font-weight: 200;
   margin-left: 20px;
   margin-top: -40px;
   font-family: inherit;
}


    
.pr{
    font-weight: 200;
    margin-left: 24px;
    margin-top: -40px;
    font-family: inherit;
    font-size: 12px;
}
.pr2{
    font-weight: 100;
    margin-left: 39px;
    margin-top: -40px;
    font-family: inherit;
}

.AboutText{
    width: 700px;
    height: 700px;
    /* border: 2px red solid; */
    margin-left: 100px;
}

.AbText{
    margin-top: 100px;
    text-align: center;
}

@media (max-width: 767px) { 
    .box2{
        /* border: 2px red solid;   */
        height: 1600px;
        width: 200px;
        margin: auto;
        display: block;
        margin-top: -100px;
        
       }
       .AboutText{
        width: 300px;
        height: 900px;
        /* border: 2px red solid; */
        margin-left: -50px;
    }
       
 }