.box1{
    border: 2px red solid;
    width: 85%;
    height: 600px;
    /* background-color: aqua; */
    margin: auto;
    margin-top: 200px;
}

.wrapper{
    border: 2px #2C2C6C solid;
    height: 83%;
    width: 90%;
    margin: auto;
    border-radius: 40px;
    background-color: #2C2C6C;
}
.wrapper:hover{
    background: none;
    transition: 500ms;
}

.text1{
    color: grey;
    text-align: center;
    margin-top: 20px;
}


/* Telefonlar uchun */
@media (max-width: 767px) { 
    .box1{
        border: 2px red solid;
        width: 85%;
        height: 600px;
        /* background-color: aqua; */
        margin: auto;
        margin-top: 60px;
    }
 }